@import url('/css/fonts/oxanium.css');
@import url('/css/fonts/password.css');

body {
	margin: 0;
	padding: 0;
	width: 100vw;
	height: 100vh;
	box-sizing: border-box;

	background: linear-gradient(to bottom right, darkslategray, black);
	background-repeat: no-repeat;
	background-size: fill;
}

main {
	overflow: auto;
	height: 100%;
	display: flex;
	flex-wrap: wrap;
}
