:host > div {
	margin: var(--adam-margin-block);
	width: var(--adam-input-max-size);
	display: grid;
	grid-template-areas:
		'label label label'
		'. . marker'
		'select select select'
		'. message .';

	grid-template-rows: var(--adam-label-top-space) var(--adam-border-full) auto auto;
	grid-template-columns: var(--adam-border-full) minmax(var(--adam-input-min-size), var(--adam-input-max-size)) var(--adam-border-full);

	align-content: start;
	align-items: stretch;
	justify-items: stretch;
}

#outer-border {
	display: flex;
	justify-content: flex-end;
	align-items: center;

	padding-inline-start: var(--adam-padding-inline);

	border: var(--adam-outer-border-block-style) var(--adam-border-width) var(--adam-outer-border-color);
	border-inline-style: var(--adam-inner-border-inline-style);
	border-radius: var(--adam-border-outer-radius);

	pointer-events: none;

	grid-area: select;
}

label {
	margin-inline-start: calc(var(--adam-margin-inline) + var(--adam-icon-spacing));

	color: var(--adam-text-color);

	transform-origin: left top;
	transform: none;

	pointer-events: all;
	cursor: text;

	text-overflow: ellipsis;
	white-space: nowrap;
	overflow: hidden;

	grid-area: label;
	align-self: center;
}

select {
	-webkit-appearance: none;
	appearance: none;

	background-color: var(--adam-bg-color);
	color: var(--adam-text-color);
	font-size: 100%;

	display: block;

	margin: var(--adam-border-full);
	padding-block: var(--adam-padding-block);
	padding-inline: var(--adam-padding-inline);
	padding-inline-end: var(--adam-icon-size);
	padding-inline-start: calc(var(--adam-padding-inline) + var(--adam-icon-spacing));

	border: var(--adam-inner-border-block-style) var(--adam-inner-border-color) var(--adam-border-width);
	border-inline-style: var(--adam-inner-border-inline-style);
	border-radius: var(--adam-border-inner-radius);

	height: calc(var(--adam-font-size) + var(--adam-padding-inline) + var(--adam-border-full) * 2);
	grid-area: select;
}

#outer-border::after {
	color: var(--adam-inner-border-color);
	cursor: pointer;
	content: '🛆\FE0E';
	display: inline-block;
	margin: var(--adam-padding-inline);
	rotate: 180deg;
}

select[multiple] {
	height: auto;
}

select[multiple] ~ #outer-border::after {
	content: none;
}

select:focus { outline: none; }

#info-box {
	display: grid;
	grid-template: 1fr / 1fr;
	align-items: start;

	z-index: -1;

	grid-area: message;
}

#info-text, #error-text {
	grid-row: 1;
	grid-column: 1;
	margin-inline: var(--adam-margin-inline);
	max-height: var(--adam-info-box-max-size);
	overflow: auto;

	padding-block: var(--adam-padding-block);
	padding-inline: var(--adam-padding-inline);
	display: block;

	font-size: calc(var(--adam-label-scale) * 1rem);
	color: var(--adam-text-color);

	border: var(--adam-inner-border-block-style) var(--adam-border-width) var(--adam-outer-border-color);
	border-block-start-color: transparent;
	border-radius: var(--adam-border-inner-radius);

	background: var(--adam-bg-color);
	background-clip: padding-box;

	transform: scale(var(--adam-label-scale));
	transform-origin: center top;
	opacity: 0.2;
}

#error-text {
	margin-block-start: calc(var(--adam-border-spacing) * 2 + var(--adam-border-width));
	opacity: 0;
	transform: translateY(-100%);
}

#info-text, #error-text:empty {
	display: none;
}

#attention-marker {
	border: var(--adam-outer-border-block-style) var(--adam-inner-border-color) var(--adam-border-width);
	z-index: 1;

	padding: calc(var(--adam-border-spacing) * 0.5);
	width: calc(var(--adam-border-full) * 3);
	height: calc(var(--adam-border-full) * 3);

	margin-inline: calc(var(--adam-border-full) * -1);

	border-radius: calc(var(--adam-border-width) * 6);

	transform-origin: center;
	scale: 0;
	opacity: 0;

	grid-area: marker;
}

#attention-marker::before {
	content: '';
	display: block;
	width: 100%;
	height: 100%;
	border-radius: inherit;
	background-color: var(--adam-outer-border-color);
}

#required-text {
	color: var(--adam-required-inner-border);
}

select:required,
input:required ~ * {
	--adam-bg-color: var(--adam-required-bg);
	--adam-text-color: var(--adam-required-text);
	--adam-inner-border-color: var(--adam-required-inner-border);
	--adam-outer-border-color: var(--adam-required-outer-border);
	--adam-inner-border-inline-style: var(--adam-required-inner-border-inline-style);
	--adam-inner-border-block-style: var(--adam-required-inner-border-block-style);
	--adam-outer-border-inline-style: var(--adam-required-outer-border-inline-style);
	--adam-outer-border-block-style: var(--adam-required-outer-border-block-style);
}

select:required ~ #attention-marker {
	scale: 1;
	opacity: 1;
}

select:required:not(:focus) {
	--adam-inner-border-color: var(--adam-input-inner-border);
}

select:not(:required) ~ label > #required-text {
	display: none;
}

/* Invalid */
select:not(:focus):not(:hover):invalid,
select:not(:focus):not(:hover):invalid ~ * {
	--adam-bg-color: var(--adam-invalid-bg);
	--adam-text-color: var(--adam-invalid-text);
	--adam-inner-border-color: var(--adam-invalid-inner-border);
	--adam-outer-border-color: var(--adam-invalid-outer-border);
	--adam-inner-border-inline-style: var(--adam-invalid-inner-border-inline-style);
	--adam-inner-border-block-style: var(--adam-invalid-inner-border-block-style);
	--adam-outer-border-inline-style: var(--adam-invalid-outer-border-inline-style);
	--adam-outer-border-block-style: var(--adam-invalid-outer-border-block-style);
}

select:not(:focus):invalid ~ #info-box #error-text {
	transform: none;
	opacity: 1;

	border-color: var(--adam-inner-border-color);
}

select:not(:focus):invalid ~ #info-box #info-text {
	opacity: 0;
}

/* Valid */
select:not(:focus):not(:hover):valid,
select:not(:focus):not(:hover):valid ~ * {
	--adam-bg-color: var(--adam-valid-bg);
	--adam-text-color: var(--adam-valid-text);
	--adam-inner-border-color: var(--adam-valid-inner-border);
	--adam-outer-border-color: var(--adam-valid-outer-border);
	--adam-inner-border-inline-style: var(--adam-valid-inner-border-inline-style);
	--adam-inner-border-block-style: var(--adam-valid-inner-border-block-style);
	--adam-outer-border-inline-style: var(--adam-valid-outer-border-inline-style);
	--adam-outer-border-block-style: var(--adam-valid-outer-border-block-style);
}

select:not(:focus):valid ~ #info-box #info-text {
	opacity: 0;
}

select:not(:focus):invalid ~ #attention-marker,
select:not(:focus):valid ~ #attention-marker {
	scale: 1;
	opacity: 1;
}

/* Hover */
select:hover,
select:hover ~ * {
	--adam-bg-color: var(--adam-hover-bg);
	--adam-text-color: var(--adam-hover-text);
	--adam-inner-border-color: var(--adam-hover-inner-border);
	--adam-outer-border-color: var(--adam-hover-outer-border);
	--adam-inner-border-inline-style: var(--adam-hover-inner-border-inline-style);
	--adam-inner-border-block-style: var(--adam-hover-inner-border-block-style);
	--adam-outer-border-inline-style: var(--adam-hover-outer-border-inline-style);
	--adam-outer-border-block-style: var(--adam-hover-outer-border-block-style);
}

/* Focus */
select:focus,
select:focus ~ * {
	--adam-bg-color: var(--adam-focus-bg);
	--adam-text-color: var(--adam-focus-text);
	--adam-inner-border-color: var(--adam-focus-inner-border);
	--adam-outer-border-color: var(--adam-focus-outer-border);
	--adam-inner-border-inline-style: var(--adam-focus-inner-border-inline-style);
	--adam-inner-border-block-style: var(--adam-focus-inner-border-block-style);
	--adam-outer-border-inline-style: var(--adam-focus-outer-border-inline-style);
	--adam-outer-border-block-style: var(--adam-focus-outer-border-block-style);
}

select:focus ~ #outer-border::after {
	rotate: 0deg;
}

/* Options */
optgroup,
option {
	-webkit-appearance: none;
	color: inherit;
	appearance: none;
	background: black;
}

:host optgroup {
	font-weight: var(--adam-font-bold);
	color: var(--adam-option-group-text);
}

:host optgroup option {
	color: var(--adam-text-color);
	font-weight: var(--adam-font-normal);
}

:host option:hover {
	color: var(--adam-focus-inner-border);
	background: var(--adam-hover-bg)
}

option:disabled {
	color: var(--adam-disabled-text);
}

select[multiple] optgroup,
select[multiple] option:not(:hover) {
	background: transparent;
}
