#root {
	display: grid;
	grid-template-columns: 1fr;
	grid-template-rows: 1fr 1fr;
	grid-template-areas:
		'input'
		'helper-text';
	align-items: center;

	max-width: min-content;
	max-height: min-content;

	padding: 0.5rem;
	margin-top: 1rem;

	transition: all 0.2s ease-in-out;
}

label {
	transform-origin: left bottom;
	transform: translateY(-200%) scale(0.8);

	pointer-events: none;
	cursor: text;

	text-overflow: ellipsis;
	white-space: nowrap;
	overflow: hidden;
	margin-left: 1rem;

	grid-area: input;
}

input {
	appearance: none;
	/* stylelint-disable-next-line property-no-vendor-prefix */
	-webkit-appearance: none;

	font-size: 100%;

	display: block;

	border: none;
	border-radius: 0.2rem;
	padding: 0.2rem;
	background: rgba(0, 0, 0, 0.3);
}

input[type='search']::-webkit-search-cancel-button { display: none; }
input[type='password']::-ms-reveal { display: none; }

input::placeholder {
	color: transparent;
	font-size: 0;
}

input:focus { outline: none; }

.border {
	border: medium solid;
	padding: 0.2rem;
}

#outer-border {
	border-color: white;
	border-radius: 0.6rem;

	grid-area: input;
}

#inner-border {
	border-color: limegreen;
	border-radius: 0.4rem;
	border-top-style: dashed;
	border-bottom-style: dashed;
}

#root:has(input:placeholder-shown:not(:focus)) label {
	transform: translateY(0);
}

#root:has(input:invalid) :is(#outer-border, label) {
	border-color: tomato;
	color: tomato;
}

#root:has(input:invalid) #inner-border {
	border-color: firebrick;
}

#root:has(input:valid:not(:placeholder-shown)) #inner-border {
	border-color: dodgerblue;
}

#root:has(input:read-only) :is(#inner-border, label) {
	border-color: rgba(192, 192, 192, 0.3);
	color: silver;
}

#root:has(input:disabled) :is(.border, label) {
	border-color: rgba(192, 192, 192, 0.3);
	color: rgba(192, 192, 192, 0.3);
}

#root:hover :is(label, .border) {
	color: greenyellow;
	border-color: greenyellow;
}
