:host {
	--label-color-normal: silver;
	--label-color-focus: white;
	--label-color-hover: white;
	--label-color-disabled: darkgray;
	--label-color-read-only: darkgray;
	--label-color-valid: dodgerblue;
	--label-color-invalid: orangered;

	--inner-border-color-normal: silver;
	--inner-border-color-focus: limegreen;
	--inner-border-color-hover: greenyellow;
	--inner-border-color-disabled: silver;
	--inner-border-color-read-only: silver;
	--inner-border-color-valid: dodgerblue;
	--inner-border-color-invalid: orangered;

	--inner-border-inline-style-normal: 1 0;
	--inner-border-inline-style-focus: 1 0;
	--inner-border-inline-style-hover: 1 0;
	--inner-border-inline-style-disabled: 4 12;
	--inner-border-inline-style-read-only: 12 12;
	--inner-border-inline-style-valid: 1 0;
	--inner-border-inline-style-invalid: 2 6;

	--inner-border-block-style-normal: 12 12;
	--inner-border-block-style-focus: 2 6;
	--inner-border-block-style-hover: 12 6;
	--inner-border-block-style-disabled: 6 12;
	--inner-border-block-style-read-only: 12 12;
	--inner-border-block-style-valid: 12 12;
	--inner-border-block-style-invalid: 2 6;

	--outer-border-color-normal: white;
	--outer-border-color-focus: silver;
	--outer-border-color-hover: white;
	--outer-border-color-disabled: darkgray;
	--outer-border-color-read-only: darkgray;
	--outer-border-color-valid: slateblue;
	--outer-border-color-invalid: firebrick;

	--outer-border-inline-style-normal: 1 0;
	--outer-border-inline-style-focus: 2 6;
	--outer-border-inline-style-hover: 1 0;
	--outer-border-inline-style-disabled: 4 12;
	--outer-border-inline-style-read-only: 12 12;
	--outer-border-inline-style-valid: 1 0;
	--outer-border-inline-style-invalid: 2 6;

	--outer-border-block-style-normal: 1 0;
	--outer-border-block-style-focus: 1 0;
	--outer-border-block-style-hover: 12 12;
	--outer-border-block-style-disabled: 1 0;
	--outer-border-block-style-read-only: 1 0;
	--outer-border-block-style-valid: 1 0;
	--outer-border-block-style-invalid: 2 6;

	--input-background-normal: rgba(0, 0, 0, 0.3);
	--input-background-focus: rgba(169, 169, 169, 0.5);
	--input-background-hover: rgba(169, 169, 169, 0.3);
	--input-background-disabled: rgba(0, 0, 0, 0.1);
	--input-background-read-only: rgba(0, 0, 0, 0.1);
	--input-background-valid: rgba(71, 61, 139, 0.2);
	--input-background-invalid: rgba(128, 0, 0, 0.2);

	--input-color-normal: silver;
	--input-color-focus: white;
	--input-color-hover: white;
	--input-color-disabled: darkgray;
	--input-color-read-only: darkgray;
	--input-color-valid: dodgerblue;
	--input-color-invalid: orangered;

	--marker-color-normal: white;
	--marker-color-focus: limegreen;
	--marker-color-hover: greenyellow;
	--marker-color-disabled: silver;
	--marker-color-read-only: silver;
	--marker-color-valid: dodgerblue;
	--marker-color-invalid: orangered;

	--marker-border-normal: orangered;
	--marker-border-focus: silver;
	--marker-border-hover: white;
	--marker-border-disabled: silver;
	--marker-border-read-only: silver;
	--marker-border-valid: slateblue;
	--marker-border-invalid: firebrick;

	--icon-size: 1.5rem;
	--label-size: 1rem;

	--border-width: 0.12rem;
	--border-radius: 0.2rem;
	--border-spacing: 0.1rem;
	--marker-size: 0.6rem;
	--message-box-height: 5rem;
	--padding: 0.5rem;
	--transition-time: 0.2s;
}

#root {
	--label-color: var(--label-color-normal);
	--inner-border-color: var(--inner-border-color-normal);
	--outer-border-color: var(--outer-border-color-normal);
	--input-background: var(--input-background-normal);
	--input-color: var(--input-color-normal);
	--inner-border-inline-style: var(--inner-border-inline-style-normal);
	--inner-border-block-style: var(--inner-border-block-style-normal);
	--outer-border-inline-style: var(--outer-border-inline-style-normal);
	--outer-border-block-style: var(--outer-border-block-style-normal);
	--marker-color: var(--marker-color-normal);
	--marker-border: var(--marker-border-normal);

	--input-border-radius: var(--border-radius);
	--inner-border-radius: calc(var(--border-radius) + var(--border-width) + var(--border-spacing));
	--outer-border-radius: calc(var(--inner-border-radius) + var(--border-width) + var(--border-spacing));

	--marker-scale: 0;
	--marker-mask-color: white;

	--internal-icon-size: 0rem;

	--message-box-display: none;
	--error-text-display: none;
	--helper-text-display: none;

	display: inline-grid;
	grid-template-columns: 1fr;
	grid-template-rows: var(--label-size) repeat(2, auto);
	grid-template-areas:
		'label'
		'input'
		'helper-text';
	align-items: center;

	max-width: min-content;
	max-height: min-content;

	padding: var(--padding);
	margin-block-start: 1rem;

	position: relative;

	transition: all var(--transition-time) ease-in-out;
}

#root * {
	transition: all var(--transition-time) ease-in-out;
}

label {
	transform-origin: left bottom;
	transform: translateY(-200%) translateX(calc(var(--internal-icon-size) * -1)) scale(0.8);

	pointer-events: none;
	cursor: text;
	padding: var(--border-spacing);

	text-overflow: ellipsis;
	white-space: nowrap;
	overflow: hidden;
	margin-inline-start: calc(var(--border-width) * 2 + var(--border-spacing) * 2 + var(--internal-icon-size));

	grid-area: input;

	color: var(--label-color);
}

input {
	-webkit-appearance: none;
	appearance: none;

	font-size: 100%;

	display: block;

	border: none;

	padding: var(--border-spacing);
	padding-inline-start: var(--internal-icon-size);
	margin: calc(var(--padding) + var(--border-width) + var(--border-spacing));
	background: transparent;
	color: var(--input-color);

	grid-area: input;
}

input[type='search']::-webkit-search-cancel-button { display: none; }
input[type='password']::-ms-reveal { display: none; }

input:focus { outline: none; }

input::placeholder {
	color: transparent;
	font-size: 0;
}

#icons {
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	width: var(--internal-icon-size);
	height: var(--internal-icon-size);
}

#icons > * { visibility: hidden; }

#borders-svg {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	pointer-events: none;
	overflow: visible;

	grid-area: input;
}

/* This element is just for computing vars */

#borders-svg::before {
	border-style: solid;
	border-width: var(--border-width);
	border-radius: var(--border-radius);
	margin: var(--border-spacing);
}

#borders-svg * {
	fill: none;
	stroke-width: var(--border-width);
	stroke-linecap: round;
	stroke-linejoin: round;
}

#borders-svg #input-background { fill: var(--input-background); }
#borders-svg .inner-border { stroke: var(--inner-border-color); }
#borders-svg .outer-border { stroke: var(--outer-border-color); }
#borders-svg .inner-border.inline-border { stroke-dasharray: var(--inner-border-inline-style); }
#borders-svg .inner-border.block-border { stroke-dasharray: var(--inner-border-block-style); }
#borders-svg .outer-border.inline-border { stroke-dasharray: var(--outer-border-inline-style); }
#borders-svg .outer-border.block-border { stroke-dasharray: var(--outer-border-block-style); }

#borders-svg .marker {
	stroke: var(--marker-border);
	transform: scale(var(--marker-scale));
}

#borders-svg #inner-attention-marker {
	stroke: none;
	fill: var(--marker-color);
}

#borders-svg #attention-marker-mask * {
	stroke: none;
	stroke-width: 0;
}

#borders-svg #attention-marker-mask rect {
	fill: white;
}

#borders-svg #attention-marker-mask circle {
	fill: var(--marker-mask-color);
	transform: scale(var(--marker-scale));
}

#message-wrapper {
	position: relative;
	display: flex;
	justify-content: center;

	grid-area: helper-text;
}

#outer-message-box {
	display: var(--message-box-display);
	position: absolute;
	z-index: 1;

	margin-inline: var(--outer-border-radius);
	padding: var(--border-spacing);
	padding-block-start: 0;

	border-width: var(--border-width);
	border-style: var(--outer-border-style);
	border-block-start-style: none;
	border-color: var(--outer-border-color);
	border-radius: 0 0 var(--outer-border-radius) var(--outer-border-radius);

	font-size: 0.8em;
	color: var(--label-color);
}

#inner-message-box {
	padding: var(--border-spacing);
	padding-block-start: 0;

	border-width: var(--border-width);
	border-style: var(--inner-border-style);
	border-block-start-style: none;
	border-color: var(--inner-border-color);
	border-radius: 0 0 var(--inner-border-radius) var(--inner-border-radius);
}

#message-box {
	overflow: auto;
	padding: var(--border-spacing);
	max-height: var(--message-box-height);

	background: var(--input-background);
	border-radius: 0 0 var(--input-border-radius) var(--input-border-radius);
}

#error-text { display: var(--error-text-display); }
#helper-text { display: var(--helper-text-display); }

#root:hover {
	--label-color: var(--label-color-hover);
	--inner-border-color: var(--inner-border-color-hover);
	--outer-border-color: var(--outer-border-color-hover);
	--input-background: var(--input-background-hover);
	--input-color: var(--input-color-hover);
	--inner-border-inline-style: var(--inner-border-inline-style-hover);
	--inner-border-block-style: var(--inner-border-block-style-hover);
	--outer-border-inline-style: var(--outer-border-inline-style-hover);
	--outer-border-block-style: var(--outer-border-block-style-hover);
	--marker-color: var(--marker-color-hover);
	--marker-border: var(--marker-border-hover);
}

#root:has(input:is([type='email'], [type='url'], [type='tel'], [type='search'], [type='password'], [show-password])) {
	--internal-icon-size: var(--icon-size);
}

#root:has(input[type='email']) #icon-email { visibility: visible; }
#root:has(input[type='url']) #icon-url { visibility: visible; }
#root:has(input[type='tel']) #icon-tel { visibility: visible; }
#root:has(input[type='search']) #icon-search { visibility: visible; }
#root:has(input[type='password']) #icon-show-password { visibility: visible; }
#root:has(input[show-password]) #icon-hide-password { visibility: visible; }

#root:has(input:required) {
	--marker-scale: 1;
	--marker-mask-color: black;
}

#root:has(input:disabled) {
	--label-color: var(--label-color-disabled);
	--inner-border-color: var(--inner-border-color-disabled);
	--outer-border-color: var(--outer-border-color-disabled);
	--input-background: var(--input-background-disabled);
	--input-color: var(--input-color-disabled);
	--inner-border-inline-style: var(--inner-border-inline-style-disabled);
	--inner-border-block-style: var(--inner-border-block-style-disabled);
	--outer-border-inline-style: var(--outer-border-inline-style-disabled);
	--outer-border-block-style: var(--outer-border-block-style-disabled);
	--marker-color: var(--marker-color-disabled);
	--marker-border: var(--marker-border-disabled);
}

#root:has(input:focus) {
	--label-color: var(--label-color-focus);
	--inner-border-color: var(--inner-border-color-focus);
	--outer-border-color: var(--outer-border-color-focus);
	--input-background: var(--input-background-focus);
	--input-color: var(--input-color-focus);
	--inner-border-inline-style: var(--inner-border-inline-style-focus);
	--inner-border-block-style: var(--inner-border-block-style-focus);
	--outer-border-inline-style: var(--outer-border-inline-style-focus);
	--outer-border-block-style: var(--outer-border-block-style-focus);
	--marker-color: var(--marker-color-focus);
	--marker-border: var(--marker-border-focus);
}

#root.has-helper-text:has(input:focus) {
	--message-box-display: block;
	--helper-text-display: block;
}

#root:has(input:read-only:not(:is(:hover, :disabled, :focus))) {
	--label-color: var(--label-color-read-only);
	--inner-border-color: var(--inner-border-color-read-only);
	--outer-border-color: var(--outer-border-color-read-only);
	--input-background: var(--input-background-read-only);
	--input-color: var(--input-color-read-only);
	--inner-border-inline-style: var(--inner-border-inline-style-read-only);
	--inner-border-block-style: var(--inner-border-block-style-read-only);
	--outer-border-inline-style: var(--outer-border-inline-style-read-only);
	--outer-border-block-style: var(--outer-border-block-style-read-only);
	--marker-color: var(--marker-color-read-only);
	--marker-border: var(--marker-border-read-only);
}

#root:has(input:placeholder-shown:not(:focus)) label {
	transform: translateY(0);
}

#root:has(input.has-validation:invalid:not(:is(:placeholder-shown, :focus))) {
	--marker-scale: 1;
	--marker-mask-color: black;
	--message-box-display: block;
	--error-text-display: block;
}

#root:has(input.has-validation:invalid:not(:is(:placeholder-shown, :focus, :hover))) {
	--label-color: var(--label-color-invalid);
	--inner-border-color: var(--inner-border-color-invalid);
	--outer-border-color: var(--outer-border-color-invalid);
	--input-background: var(--input-background-invalid);
	--input-color: var(--input-color-invalid);
	--inner-border-inline-style: var(--inner-border-inline-style-invalid);
	--inner-border-block-style: var(--inner-border-block-style-invalid);
	--outer-border-inline-style: var(--outer-border-inline-style-invalid);
	--outer-border-block-style: var(--outer-border-block-style-invalid);
	--marker-color: var(--marker-color-invalid);
	--marker-border: var(--marker-border-invalid);
}

#root:has(input.has-validation:valid:not(:is(:placeholder-shown, :focus, :hover))) {
	--label-color: var(--label-color-valid);
	--inner-border-color: var(--inner-border-color-valid);
	--outer-border-color: var(--outer-border-color-valid);
	--input-background: var(--input-background-valid);
	--input-color: var(--input-color-valid);
	--inner-border-inline-style: var(--inner-border-inline-style-valid);
	--inner-border-block-style: var(--inner-border-block-style-valid);
	--outer-border-inline-style: var(--outer-border-inline-style-valid);
	--outer-border-block-style: var(--outer-border-block-style-valid);
	--marker-color: var(--marker-color-valid);
	--marker-border: var(--marker-border-valid);
}
