/* TODO: transform absolute positions/transform to logical properties */
:host {
	--adam-input-bg: rgba(0, 0, 0, 0.1);
	--adam-input-text: rgba(255, 255, 255, 0.5);
	--adam-input-inner-border: rgba(169, 169, 169, 0.6);
	--adam-input-outer-border: white;

	--adam-hover-bg: rgba(0, 0, 0, 0.2);
	--adam-hover-text: white;
	--adam-hover-inner-border: white;
	--adam-hover-outer-border: rgba(169, 169, 169, 0.6);

	--adam-focus-bg: rgba(0, 0, 0, 0.3);
	--adam-focus-text: white;
	--adam-focus-inner-border: #9aff00;
	--adam-focus-outer-border: rgba(169, 169, 169, 0.4);

	--adam-disabled-bg: rgba(0, 0, 0, 0.2);
	--adam-disabled-text: rgba(255, 255, 255, 0.4);
	--adam-disabled-inner-border: rgba(169, 169, 169, 0.3);
	--adam-disabled-outer-border: rgba(255, 255, 255, 0.2);

	--adam-required-bg: rgba(0, 0, 0, 0.2);
	--adam-required-text: rgba(255, 255, 255, 0.5);
	--adam-required-inner-border: #E3FF00;
	--adam-required-outer-border: rgba(169, 169, 169, 1);

	--adam-invalid-bg: rgba(0, 0, 0, 0.2);
	--adam-invalid-text: tomato;
	--adam-invalid-inner-border: crimson;
	--adam-invalid-outer-border: sienna;

	--adam-valid-bg: rgba(0, 0, 0, 0.2);
	--adam-valid-text: lightskyblue;
	--adam-valid-inner-border: dodgerblue;
	--adam-valid-outer-border: white;

	--border-inner-color: var(--adam-input-inner-border);
	--border-outer-color: var(--adam-input-outer-border);
	--text-color: var(--adam-input-text);
	--bg-color: var(--adam-input-bg);
	--border-inner-radius: 0.5rem;
	--border-outer-radius: 0.8rem;

	--border-width: 0.15rem;
	--border-spacing: 0.2rem;
	--border-full: calc(var(--border-width) + var(--border-spacing));

	--padding-inline: 0.6rem;
	--padding-block: 0.2rem;

	--margin-inline: calc(var(--padding-inline) + var(--border-full));
	--margin-block: calc(var(--padding-block) + var(--border-full));


	--label-scale: 0.8;
	--font-size: 1rem;

	--icon-spacing: 0px;

	--top-space: calc(var(--border-spacing) + (var(--label-scale) * var(--font-size)) + (var(--padding-block) * 2));
}

:host > div {
	position: relative;
	font-family: sans-serif;
	font-size: var(--font-size);
	color: var(--text-color);

	margin-inline: var(--padding-block);
	margin-block: var(--top-space) var(--padding-block);
	display: inline-flex;
	flex-direction: column;
	box-sizing: border-box;
	width: 15rem;

	transition: all 0.2s ease-in-out;

	border: solid transparent var(--border-width);

	/* writing-mode: horizontal-tb;
	direction: rtl; */
}

#outer-border {
	position: absolute;
	left: calc(var(--border-width) * -1);
	top: calc(var(--border-width) * -1);
	right: calc(var(--border-width) * -1);
	height: calc(var(--padding-block) * 2 + var(--border-spacing) * 2 + var(--border-width) * 3 + var(--font-size));
	display: flex;
	justify-content: flex-start;
	align-items: center;

	padding-inline-start: var(--padding-inline);

	border: solid var(--border-width) var(--border-outer-color);
	border-radius: var(--border-outer-radius);

	transition: inherit;
	pointer-events: none;
}

label {
	position: absolute;
	left: calc(var(--margin-inline) + var(--icon-spacing));
	max-width: calc(100% - (var(--margin-inline) + var(--border-width)));
	top: var(--margin-block);

	font-family: inherit;
	color: var(--text-color);

	transform: none;
	transition: inherit;

	pointer-events: none;
	cursor: text;

	text-overflow: ellipsis;
	white-space: nowrap;
	overflow: hidden;
}

input {
	-webkit-appearance: none;
	appearance: none;

	background-color: var(--bg-color);
	color: var(--text-color);
	font: inherit;
	font-size: 100%;

	display: block;
	box-sizing: border-box;

	margin: var(--border-spacing);
	padding-block: var(--padding-block);
	padding-inline: var(--padding-inline);
	padding-inline-start: calc(var(--padding-inline) + var(--icon-spacing));

	border: dashed var(--border-inner-color) var(--border-width);
	border-left-style: solid;
	border-right-style: solid;
	border-radius: var(--border-inner-radius);

	transition: inherit;
}

input:is([type="tel"], [type="url"], [type="email"], [type="password"], [show-password]),
input:is([type="tel"], [type="url"], [type="email"], [type="password"], [show-password]) ~ label {
	--icon-spacing: calc(var(--font-size) * 1.5);
}

input:is([type="tel"], [type="url"], [type="email"], [type="password"], [show-password]) ~ #outer-border::before {
	color: var(--border-inner-color);
	content: var(--input-icon);
	font-size: 100%;
	line-height: 1;
}

input[type="text"][show-password] ~ #outer-border::before,
input[type="password"] ~ #outer-border::before {
	cursor: pointer;
	pointer-events: all;
}

input[type="tel"] ~ #outer-border { --input-icon: '📞\FE0E'; }
input[type="url"] ~ #outer-border { --input-icon: '🔗\FE0E'; }
input[type="email"] ~ #outer-border { --input-icon: '📧\FE0E'; }
input[type="password"] ~ #outer-border { --input-icon: '🔒\FE0E'; }
input[type="text"][show-password] ~ #outer-border { --input-icon: '🔓\FE0E'; }

input::placeholder { color: transparent; }
input:focus { outline: none; }

#info-box {
	display: grid;
	grid-template: 1fr / 1fr;
	align-items: start;

	transition: inherit;
	z-index: -1;
}

#info-text, #error-text {
	grid-row: 1;
	grid-column: 1;
	margin-inline: 0.6rem;
	max-height: 7rem;
	overflow: auto;

	padding-block: var(--padding-block);
	padding-inline: var(--padding-inline);
	display: block;
	box-sizing: border-box;

	font-size: calc(var(--label-scale) * 1rem);
	color: var(--text-color);

	border: dashed var(--border-width) var(--border-outer-color);
	border-block-start-color: transparent;
	border-radius: var(--border-inner-radius);

	background: var(--bg-color);
	background-clip: padding-box;

	transition: all 0.2s ease-in-out;

	transform: scale(var(--label-scale));
	transform-origin: center top;
	opacity: 0.2;
}

#error-text {
	margin-block-start: calc(var(--border-spacing) * 2 + var(--border-width));
	opacity: 0;
	transform: translateY(-100%);
}

#info-text, #error-text:empty {
	display: none;
}

#attention-marker {
	background-color: var(--border-outer-color);

	position: absolute;
	top: calc(var(--border-width) * -1);
	right: calc(var(--border-width) * -1);

	width: calc(var(--border-width) * 3);
	height: calc(var(--border-width) * 3);

	border-radius: calc(var(--border-width) * 4);

	transition: inherit;

	transform: scale(0);
	opacity: 0;
}

#attention-marker::before {
	content: '';
	position: absolute;
	top: calc(var(--border-width) * -1.5);
	right: calc(var(--border-width) * -1.5);
	width: calc(var(--border-width) * 4);
	height: calc(var(--border-width) * 4);
	border: solid var(--border-inner-color) var(--border-width);
	border-radius: calc(var(--border-width) * 6);
	transition: inherit;
}

#required-text {
	color: var(--adam-required-inner-border);
}

:host(:hover) {
	--bg-color: var(--adam-hover-bg);
	--text-color: var(--adam-hover-text);
	--border-inner-color: var(--adam-hover-inner-border);
	--border-outer-color: var(--adam-hover-outer-border);
}

:host(:hover) #outer-border {
	border-left-style: dashed;
	border-right-style: dashed;
}

:host(:not(:focus-within):hover) input:not(:disabled) ~ * {
	--border-outer-color: var(--adam-hover-outer-border);
}

input:focus,
input:focus ~ * {
	--bg-color: var(--adam-focus-bg);
	--text-color: var(--adam-focus-text);
	--border-inner-color: var(--adam-focus-inner-border);
	--border-outer-color: var(--adam-focus-outer-border);
}

input:focus ~ #outer-border {
	border-left-style: dashed;
	border-right-style: dashed;
}

input:focus ~ label,
input:not(:placeholder-shown) ~ label {
	transform:
		translateY(calc(-100% + (var(--top-space) * -0.5) + (var(--padding-block) * -1)))
		translateX(calc((var(--icon-spacing) + var(--margin-inline)) * -1))
		scale(var(--label-scale));
}

input:focus ~ #info-box #info-text {
	opacity: 1;
	transform: translateY(0);
	pointer-events: auto;
}

input:required,
input:required ~ * {
	--bg-color: var(--adam-required-bg);
	--text-color: var(--adam-required-text);
	--border-inner-color: var(--adam-required-inner-border);
	--border-outer-color: var(--adam-required-outer-border);
}

input:required ~ #attention-marker {
	transform: scale(1);
	opacity: 1;
}

input:required input:not(:placeholder-shown):not(:focus) {
	--border-inner-color: var(--adam-input-inner-border);
}

input:not(:required) ~ label > #required-text {
	display: none;
}

input:not(:focus):not(:placeholder-shown):invalid,
input:not(:focus):not(:placeholder-shown):invalid ~ * {
	--bg-color: var(--adam-invalid-bg);
	--text-color: var(--adam-invalid-text);
	--border-inner-color: var(--adam-invalid-inner-border);
	--border-outer-color: var(--adam-invalid-outer-border);
}

input:not(:focus):not(:placeholder-shown):invalid ~ #info-box #error-text {
	transform: none;
	opacity: 1;

	border-color: var(--border-inner-color);
}

input:not(:focus):not(:placeholder-shown):invalid ~ #info-box #info-text {
	opacity: 0;
}

input:not(:focus):not(:placeholder-shown):valid,
input:not(:focus):not(:placeholder-shown):valid ~ * {
	--bg-color: var(--adam-valid-bg);
	--text-color: var(--adam-valid-text);
	--border-inner-color: var(--adam-valid-inner-border);
	--border-outer-color: var(--adam-valid-outer-border);
}

input:not(:focus):not(:placeholder-shown):valid ~ #info-box #info-text {
	opacity: 0;
}

input:not(:focus):not(:placeholder-shown):invalid ~ #attention-marker,
input:not(:focus):not(:placeholder-shown):valid ~ #attention-marker {
	transform: scale(1);
	opacity: 1;
}

input:disabled,
input:disabled ~ * {
	--bg-color: var(--adam-disabled-bg);
	--text-color: var(--adam-disabled-text);
	--border-inner-color: var(--adam-disabled-inner-border);
	--border-outer-color: var(--adam-disabled-outer-border);
}

input:read-only,
input:read-only ~ #outer-border,
input:disabled,
input:disabled ~ #outer-border {
	border-style: dotted;
}

input:read-only ~ #info-box,
input:read-only ~ #attention-marker,
input:disabled ~ #info-box,
input:disabled ~ #attention-marker {
	display: none;
}
