/* stylelint-disable no-descending-specificity */

:host > div {
	margin: var(--margin-block);
	width: var(--input-max-size);
	display: grid;
	grid-template-areas:
		'label label label'
		'. . marker'
		'select select select'
		'. message .';

	grid-template-rows: var(--label-top-space) var(--border-full) auto auto;
	grid-template-columns: var(--border-full) minmax(var(--input-min-size), var(--input-max-size)) var(--border-full);

	align-content: start;
	align-items: stretch;
	justify-items: stretch;
}

#outer-border {
	display: flex;
	justify-content: flex-end;
	align-items: center;

	padding-inline-start: var(--padding-inline);

	border: var(--outer-border-block-style) var(--border-width) var(--outer-border-color);
	border-inline-style: var(--inner-border-inline-style);
	border-radius: var(--border-outer-radius);

	pointer-events: none;

	grid-area: select;
}

label {
	margin-inline-start: calc(var(--margin-inline) + var(--icon-spacing));

	color: var(--text-color);

	transform-origin: left top;
	transform: none;

	pointer-events: all;
	cursor: text;

	text-overflow: ellipsis;
	white-space: nowrap;
	overflow: hidden;

	grid-area: label;
	align-self: center;
}

select {
	appearance: none;

	background-color: var(--bg-color);
	color: var(--text-color);
	font-size: 100%;

	display: block;

	margin: var(--border-full);
	padding-block: var(--padding-block);
	padding-inline: var(--padding-inline);
	padding-inline-end: var(--icon-size);
	padding-inline-start: calc(var(--padding-inline) + var(--icon-spacing));

	border: var(--inner-border-block-style) var(--inner-border-color) var(--border-width);
	border-inline-style: var(--inner-border-inline-style);
	border-radius: var(--border-inner-radius);

	height: calc(var(--font-size) + var(--padding-inline) + var(--border-full) * 2);
	grid-area: select;
}

#outer-border::after {
	color: var(--inner-border-color);
	cursor: pointer;
	content: '🛆\FE0E';
	display: inline-block;
	margin: var(--padding-inline);
	rotate: 180deg;
}

select[multiple] {
	height: auto;
}

select[multiple] ~ #outer-border::after {
	content: none;
}

select:focus { outline: none; }

#info-box {
	display: grid;
	grid-template: 1fr / 1fr;
	align-items: start;

	z-index: -1;

	grid-area: message;
}

#info-text, #error-text {
	grid-row: 1;
	grid-column: 1;
	margin-inline: var(--margin-inline);
	max-height: var(--info-box-max-size);
	overflow: auto;

	padding-block: var(--padding-block);
	padding-inline: var(--padding-inline);
	display: block;

	font-size: calc(var(--label-scale) * 1rem);
	color: var(--text-color);

	border: var(--inner-border-block-style) var(--border-width) var(--outer-border-color);
	border-block-start-color: transparent;
	border-radius: var(--border-inner-radius);

	background: var(--bg-color);
	background-clip: padding-box;

	transform: scale(var(--label-scale));
	transform-origin: center top;
	opacity: 0.2;
}

#error-text {
	margin-block-start: calc(var(--border-spacing) * 2 + var(--border-width));
	opacity: 0;
	transform: translateY(-100%);
}

#info-text, #error-text:empty {
	display: none;
}

#attention-marker {
	border: var(--outer-border-block-style) var(--inner-border-color) var(--border-width);
	z-index: 1;

	padding: calc(var(--border-spacing) * 0.5);
	width: calc(var(--border-full) * 3);
	height: calc(var(--border-full) * 3);

	margin-inline: calc(var(--border-full) * -1);

	border-radius: calc(var(--border-width) * 6);

	transform-origin: center;
	scale: 0;
	opacity: 0;

	grid-area: marker;
}

#attention-marker::before {
	content: '';
	display: block;
	width: 100%;
	height: 100%;
	border-radius: inherit;
	background-color: var(--outer-border-color);
}

#required-text {
	color: var(--required-inner-border);
}

select:required,
input:required ~ * {
	--bg-color: var(--required-bg);
	--text-color: var(--required-text);
	--inner-border-color: var(--required-inner-border);
	--outer-border-color: var(--required-outer-border);
	--inner-border-inline-style: var(--required-inner-border-inline-style);
	--inner-border-block-style: var(--required-inner-border-block-style);
	--outer-border-inline-style: var(--required-outer-border-inline-style);
	--outer-border-block-style: var(--required-outer-border-block-style);
}

select:required ~ #attention-marker {
	scale: 1;
	opacity: 1;
}

select:required:not(:focus) {
	--inner-border-color: var(--input-inner-border);
}

select:not(:required) ~ label > #required-text {
	display: none;
}

/* Invalid */

select:not(:focus):not(:hover):required:invalid,
select:not(:focus):not(:hover):required:invalid ~ * {
	--bg-color: var(--invalid-bg);
	--text-color: var(--invalid-text);
	--inner-border-color: var(--invalid-inner-border);
	--outer-border-color: var(--invalid-outer-border);
	--inner-border-inline-style: var(--invalid-inner-border-inline-style);
	--inner-border-block-style: var(--invalid-inner-border-block-style);
	--outer-border-inline-style: var(--invalid-outer-border-inline-style);
	--outer-border-block-style: var(--invalid-outer-border-block-style);
}

select:not(:focus):required:invalid ~ #info-box #error-text {
	transform: none;
	opacity: 1;

	border-color: var(--inner-border-color);
}

select:not(:focus):required:invalid ~ #info-box #info-text {
	opacity: 0;
}

/* Valid */

select:not(:focus):not(:hover):required:valid,
select:not(:focus):not(:hover):required:valid ~ * {
	--bg-color: var(--valid-bg);
	--text-color: var(--valid-text);
	--inner-border-color: var(--valid-inner-border);
	--outer-border-color: var(--valid-outer-border);
	--inner-border-inline-style: var(--valid-inner-border-inline-style);
	--inner-border-block-style: var(--valid-inner-border-block-style);
	--outer-border-inline-style: var(--valid-outer-border-inline-style);
	--outer-border-block-style: var(--valid-outer-border-block-style);
}

select:not(:focus):required:valid ~ #info-box #info-text {
	opacity: 0;
}

select:not(:focus):required:invalid ~ #attention-marker,
select:not(:focus):required:valid ~ #attention-marker {
	scale: 1;
	opacity: 1;
}

/* Hover */

select:hover,
select:hover ~ * {
	--bg-color: var(--hover-bg);
	--text-color: var(--hover-text);
	--inner-border-color: var(--hover-inner-border);
	--outer-border-color: var(--hover-outer-border);
	--inner-border-inline-style: var(--hover-inner-border-inline-style);
	--inner-border-block-style: var(--hover-inner-border-block-style);
	--outer-border-inline-style: var(--hover-outer-border-inline-style);
	--outer-border-block-style: var(--hover-outer-border-block-style);
}

/* Focus */

select:focus,
select:focus ~ * {
	--bg-color: var(--focus-bg);
	--text-color: var(--focus-text);
	--inner-border-color: var(--focus-inner-border);
	--outer-border-color: var(--focus-outer-border);
	--inner-border-inline-style: var(--focus-inner-border-inline-style);
	--inner-border-block-style: var(--focus-inner-border-block-style);
	--outer-border-inline-style: var(--focus-outer-border-inline-style);
	--outer-border-block-style: var(--focus-outer-border-block-style);
}

select:focus ~ #outer-border::after {
	rotate: 0deg;
}

/* Options */

optgroup,
option {
	color: inherit;
	appearance: none;
	background: black;
}

:host optgroup {
	font-weight: var(--font-bold);
	color: var(--option-group-text);
}

:host optgroup option {
	color: var(--text-color);
	font-weight: var(--font-normal);
}

:host option:hover {
	color: var(--focus-inner-border);
	background: var(--hover-bg);
}

option:disabled {
	color: var(--disabled-text);
}

option:checked {
	color: var(--valid-text);
	background: var(--valid-bg);
}

select[multiple] optgroup,
select[multiple] option:not(:hover) {
	background: transparent;
}
