@import url('./style/transition.css');

:host {
	font-family: inherit;
	font-size: initial;
	color: inherit;
	font-weight: inherit;
	line-height: 1;

	transition: all var(--transition-time) var(--transition-function);
	box-sizing: inherit;
}

:host *,
:host *::before,
:host *::after {
	box-sizing: inherit;
	transition: inherit;
	font-family: inherit;
}

@media (prefers-reduced-motion) {
	:host { --transition-time: 0; }
}

@media (prefers-color-scheme: light) {
	/* TODO */
}
