@property --border-inner-radius {
	syntax: '<length>';
	inherits: false;
	initial-value: 0.5rem;
}

@property --border-outer-radius {
	syntax: '<length>';
	inherits: false;
	initial-value: 0.8rem;
}

@property --border-spacing {
	syntax: '<length>';
	inherits: false;
	initial-value: 0.2rem;
}

@property --border-width {
	syntax: '<length>';
	inherits: false;
	initial-value: 0.15rem;
}

@property --border-full {
	syntax: '<length>';
	inherits: false;
	initial-value: 0.35rem;
}

:host {
	--border-outer-radius: 0.8rem;
	--border-inner-radius: calc(var(--border-outer-radius) + (var(--border-width) + var(--border-spacing)) / 2);
	--border-spacing: 0.2rem;
	--border-width: 0.15rem;
	--border-full: calc(var(--border-width) + var(--border-spacing));
}
