@property --font-family {
	syntax: '<custom-ident> | <string>';
	inherits: false;
	initial-value: 0.5rem;
}

@property --label-scale {
	syntax: '<number>';
	inherits: false;
	initial-value: 0.8;
}

@property --font-size {
	syntax: '<length>';
	inherits: false;
	initial-value: 1rem;
}

@property --font-normal {
	syntax: '<integer>';
	inherits: false;
	initial-value: 500;
}

@property --font-bold {
	syntax: '<integer>';
	inherits: false;
	initial-value: 900;
}

:host {
	--font-family: 'Oxanium', sans-serif;
	--label-scale: 0.8;
	--font-size: 1rem;
	--font-normal: 500;
	--font-bold: 900;
}
