@property --required-bg {
	syntax: '<color>';
	inherits: false;
	initial-value: rgba(0, 0, 0, 0.1);
}

@property --required-text {
	syntax: '<color>';
	inherits: false;
	initial-value: rgba(255, 255, 255, 0.5);
}

@property --required-inner-border {
	syntax: '<color>';
	inherits: false;
	initial-value: rgba(169, 169, 169, 0.6);
}

@property --required-outer-border {
	syntax: '<color>';
	inherits: false;
	initial-value: white;
}

@property --required-inner-border-inline-style {
	syntax: 'solid | dotted | dashed';
	inherits: false;
	initial-value: dashed;
}

@property --required-inner-border-block-style {
	syntax: 'solid | dotted | dashed';
	inherits: false;
	initial-value: dashed;
}

@property --required-outer-border-inline-style {
	syntax: 'solid | dotted | dashed';
	inherits: false;
	initial-value: solid;
}

@property --required-outer-border-block-style {
	syntax: 'solid | dotted | dashed';
	inherits: false;
	initial-value: solid;
}

:host {
	--required-bg: rgba(0, 0, 0, 0.2);
	--required-text: rgba(255, 255, 255, 0.5);
	--required-inner-border: #e3ff00;
	--required-outer-border: darkgray;

	--required-inner-border-inline-style: dashed;
	--required-inner-border-block-style: dashed;
	--required-outer-border-inline-style: solid;
	--required-outer-border-block-style: solid;
}
