@property --input-min-size {
	syntax: '<length>';
	inherits: false;
	initial-value: 7rem;
}

@property --input-max-size {
	syntax: '<length>';
	inherits: false;
	initial-value: 15rem;
}

@property --input-bg {
	syntax: '<color>';
	inherits: false;
	initial-value: rgba(0, 0, 0, 0.1);
}

@property --input-text {
	syntax: '<color>';
	inherits: false;
	initial-value: rgba(255, 255, 255, 0.5);
}

@property --input-inner-border {
	syntax: '<color>';
	inherits: false;
	initial-value: rgba(169, 169, 169, 0.6);
}

@property --input-outer-border {
	syntax: '<color>';
	inherits: false;
	initial-value: white;
}

@property --input-inner-border-inline-style {
	syntax: 'solid | dotted | dashed';
	inherits: false;
	initial-value: dashed;
}

@property --input-inner-border-block-style {
	syntax: 'solid | dotted | dashed';
	inherits: false;
	initial-value: dashed;
}

@property --input-outer-border-inline-style {
	syntax: 'solid | dotted | dashed';
	inherits: false;
	initial-value: solid;
}

@property --input-outer-border-block-style {
	syntax: 'solid | dotted | dashed';
	inherits: false;
	initial-value: solid;
}

:host {
	--input-min-size: 7rem;
	--input-max-size: 15rem;

	--input-bg: rgba(0, 0, 0, 0.1);
	--input-text: rgba(255, 255, 255, 0.5);
	--input-inner-border: rgba(169, 169, 169, 0.6);
	--input-outer-border: white;

	--input-inner-border-inline-style: dashed;
	--input-inner-border-block-style: dashed;
	--input-outer-border-inline-style: solid;
	--input-outer-border-block-style: solid;
}
